@{
    ViewBag.Title = "Payment";
}
@section styles{
    <style>
        .statistics-box.with-icon {
    padding-top: 14px;
    min-height: 80px;
    text-align: center;
    padding-left: 0;
}
        .statistics-box.with-icon a small{
            color: #212121;
}
        .col-md-4 {
            margin-bottom: 20px;
        }
    </style>
}
<section class="row small-spacing">
    <h2 class="box-title">Payment Type :
    @if (ViewBag.PaymentType == "makePaymentCustomerNumberModal")
    {
        <span>Customer Number</span>
    }else if (ViewBag.PaymentType == "makePaymentSmartCardNumberModal")
    {
        <span>Smart Card Number</span>
    }
    </h2>
    <p>Kindly chose your payment provider</p>
    <hr />
    <section class="row">
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a href="@Url.Action("MakePayment", new{type = "DSTV"})"  data-bouquet="DSTV">
                        <h2 class="counter text-inverse">DSTV</h2>
                        <small>Make payment with DSTV</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a  href="@Url.Action("MakePayment", new{type = "EKDC"})"  data-bouquet="EKDC">
                        <h2 class="counter text-inverse">EKDC</h2>
                        <small>Make payment with EKDC</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a  href="@Url.Action("MakePayment", new{type = "BEDC"})"  data-bouquet="BEDC">
                        <h2 class="counter text-inverse">BEDC</h2>
                        <small>Make payment with BEDC</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a  href="@Url.Action("MakePayment", new{type = "BET9JA"})"  data-bouquet="BET9JA">
                        <h2 class="counter text-inverse">BET9JA</h2>
                        <small>Make payment with BET9JA</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a  href="@Url.Action("MakePayment", new{type = "TSTV"})"  data-bouquet="TSTV">
                        <h2 class="counter text-inverse">TSTV</h2>
                        <small>Make payment with TSTV</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a  href="@Url.Action("MakePayment", new{type = "GOTV"})"  data-bouquet="GOTV">
                        <h2 class="counter text-inverse">GOTV</h2>
                        <small>Make payment with GOTV</small>
                    </a>
                </div>
            </div>
        </article>
    </section>
</section>

