@model MultichoiceCollection.Presentation.Models.CustomerDetailsModel


@{
    ViewBag.Title = "Details";
}
@if (Model != null)
{
    <section class="container-fluid">
        <article class="row small-spacing">
            <div class="box-content">
                <h4 class="box-title">Customer</h4>
                @if (Model.customer != null)
                {
                    <section>
                        <article class="col-md-6">
                            <div class="col-md-3">Last Name:</div>
                            <div class="col-md-9">@Model.customer.lastName</div>
                        </article>
                      
                        <article class="col-md-6">
                            <div class="col-md-3">First Name:</div>
                            <div class="col-md-9">@Model.customer.firstName</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Initial:</div>
                            <div class="col-md-9">@Model.customer.initial</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Customer Number:</div>
                            <div class="col-md-9">@Model.customer.customerNumber</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Account No:</div>
                            <div class="col-md-9">@Model.customer.accountNo</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Account Status:</div>
                            <div class="col-md-9">@Model.customer.accountStatus</div>
                        </article>
                       
                        <article class="col-md-6">
                            <div class="col-md-3">Has Box Office:</div>
                            <div class="col-md-9">@Model.customer.hasBoxOffice</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Invoice Period:</div>
                            <div class="col-md-9">@Model.customer.invoicePeriod</div>
                        </article>
                        <article class="col-md-6">
                            <div class="col-md-3">Total Balance:</div>
                            <div class="col-md-9">@Model.customer.totalBalance</div>
                        </article>
                    </section>
                }
                else
                {
                    <div class="alert alert-info">
                        <p>Customer details not found.</p>
                    </div>
                }

            </div>
        </article>
        <section class="row small-spacing">
            <div class="box-content">
                <h4 class="box-title">Accounts</h4>

                <!-- /.dropdown js__dropdown -->
                <section class="table-responsive">
                    <table class="table table-striped margin-bottom-10">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Subscription</th>
                                <th>Product Key</th>
                                <th>Product Name</th>
                                <th>Name And Price</th>
                                <th>Active On Account</th>
                                <th>Trans Fee</th>
                                <th>paymentUrl</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.Products != null && Model.Products.Count > 0)
                        {
                            foreach (var item in Model.Products)
                             {
                                 <tr>
                                     <td>@item.currency</td>
                                     <td>@item.subscription</td>
                                     <td>@item.productKey</td>
                                     <td>@item.productName</td>
                                     <td>@item.nameAndPrice</td>
                                     <td>@item.activeOnAccount</td>
                                     <td>@item.transFee</td>
                                     <td>@item.paymentUrl</td>
                                 </tr>
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="12">
                                    <div class="alert alert-info">
                                        <p>Products not found.</p>
                                    </div>
                                </td>
                            </tr>
                            
                        }
                        </tbody>
                    </table>
                </section>
                <!-- /.table -->
            </div>
        </section>
    </section>
}