@model MultichoiceCollection.Presentation.Areas.Admin.Models.TransactionViewModel

@{
    ViewBag.Title = "Transactions";
}
<section class="row small-spacing">
    <div class="box-content">
        <h4 class="box-title">@ViewBag.Title</h4>
        
        <div class="row">
            <form method="get">
                <div class="col-md-5">
                    <input class="form-control" name="startDate" type="date" placeholder="Start Date" value="@Model.StartDate"/>
                </div>
                <div class="col-md-5">
                    <input class="form-control" name="endDate" type="date" placeholder="End Date" value="@Model.EndDate" />
                </div>


                
                <div class="col-md-2">
                    <input type="submit" value="GO" class="btn btn-primary"/>
                </div>
            </form>
        </div>

        <section class="table-responsive">
            <table class="table table-striped margin-bottom-10">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Account Number</th>
                    <th>Amount</th>
                    <th>Customer Number</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                @{ var sn = 0;}
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>@(sn++)</td>
                        <td>@item.accountNumber</td>
                        <td>@item.amount</td>
                        <td>@item.customerNumber</td>
                        <td>@item.CreatedDate</td>
                    </tr>
                }


                </tbody>
            </table>
        </section>
        <!-- /.table -->
    </div>
</section>